.page {
  display: flex;
  width: 100%;

  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100px;
    background-color: white;

    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .button-nav {
        margin: 15px;
      }

      .icon-page {
        width: 60px;
        height: 60px;
      }
    }

    .logout {
      .button-nav {
        margin: 15px;
        margin-bottom: 30px;
        color: #e09997;
      }
    }
  }
  .button-nav {
    width: 50px;
    background-color: white;
    color: #b2b3b4;
    border: none;
  }
  .page-design {
    display: block;
    margin-left: 150px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      .input-search {
        display: flex;
        align-items: center;
        background-color: white;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5px;
        padding-left: 10px;

        .search {
          height: 40px;
          width: 300px;
          border: none;
          margin-left: 10px;
        }

        .btn-search {
          border-radius: 10px;
          background-color: #438ffe;
          color: white;
          border: none;
          height: 40px;
          width: 100px;
        }
      }

      .account-nav {
        display: flex;
        .image-eng {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          margin: 10px;
        }

        .eng {
          margin: 5px;
        }

        .material-symbols-outlined {
          margin: 5px;
        }
      }
    }
  }

  .main {
    display: flex;
    margin-top: 100px;
    margin-left: 60px;

    .section-stats {
      display: flex;

      .number {
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
      }

      .block-stats-followers {
        background-color: white;
        border-radius: 10px;
        margin: 20px;

        .section-title {
          display: flex;
          align-items: center;

          .material-symbols-outlined {
            background-color: #c5dbfc;
            color: #438ef8;
            margin: 10px;
            padding: 5px;
            border-radius: 2px;
          }

          h2 {
            font-size: 20px;
          }
        }
      }

      .block-stats-likes {
        background-color: white;
        border-radius: 10px;
        margin: 20px;

        .section-title {
          display: flex;
          align-items: center;

          .material-symbols-outlined {
            background-color: #fbebec;
            color: #ed2738;
            margin: 10px;
            padding: 5px;
            border-radius: 2px;
          }

          h2 {
            font-size: 20px;
          }
        }
      }

      .block-stats-comments {
        background-color: white;
        border-radius: 10px;
        margin: 20px;

        .section-title {
          display: flex;
          align-items: center;

          .material-symbols-outlined {
            background-color: #ffe8db;
            color: #e67733;
            margin: 10px;
            padding: 5px;
            border-radius: 2px;
          }

          h2 {
            font-size: 20px;
          }
        }
      }
    }

    .stats {
      background-color: white;
      border-radius: 10px;
      margin: 20px;

      .radio-buttons {
        display: flex;
      }
    }

    .account {
      .account-info {
        background-color: white;
        border-radius: 20px;

        .img-account {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      .sheduled-posts {
        background-color: white;
        border-radius: 20px;

        .post-block {
          background-color: #f6f6f6;
          border-radius: 20px;
          .posts-img {
            width: 100px;
            height: 100px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
