<div class="page">
  <header class="side-bar">
    <nav class="navigation">
      <img
        class="icon-page"
        src="assets/images/photo_2022-07-04_12-10-01.jpg"
      />
      <button class="button-nav">
        <span class="material-symbols-outlined"> grid_view </span>
      </button>
      <button class="button-nav">
        <span class="material-symbols-outlined"> calendar_month </span>
      </button>
      <button class="button-nav">
        <span class="material-symbols-outlined"> signal_cellular_alt </span>
      </button>
      <button class="button-nav">
        <span class="material-symbols-outlined"> monetization_on </span>
      </button>
      <button class="button-nav">
        <span class="material-symbols-outlined"> settings </span>
      </button>
    </nav>
    <div class="logout">
      <button class="button-nav">
        <span class="material-symbols-outlined"> logout </span>
      </button>
    </div>
  </header>
  <div class="page-design">
    <div class="header">
      <div class="input-search">
        <span class="material-symbols-outlined"> search </span>
        <input
          class="search"
          placeholder="Search for the data you need"
          type="text"
        />
        <button class="btn-search" type="button">Search</button>
      </div>
      <div class="account-nav">
        <img
          class="image-eng"
          src="assets/images/photo_2022-07-01_13-43-10.jpg"
        />
        <span class="eng">ENG</span>
        <span class="material-symbols-outlined"> expand_more </span>
        <span class="material-symbols-outlined"> textsms </span>
        <span class="material-symbols-outlined"> notifications </span>
      </div>
    </div>
    <main class="main">
      <div class="section">
        <section class="section-stats">
          <div class="block-stats-followers">
            <div class="section-title">
              <span class="material-symbols-outlined"> account_circle </span>
              <h2>Followers</h2>
            </div>
            <div class="number">180,564</div>
            <div class="stats-person">
              <span class="material-symbols-outlined"> add_circle </span>
              <span> 20.13%</span>
              <span class="text-stats">than last week</span>
            </div>
          </div>
          <div class="block-stats-likes">
            <div class="section-title">
              <span class="material-symbols-outlined"> favorite </span>
              <h2>Likes</h2>
            </div>
            <div class="number">580,564</div>
            <div class="stats-person">
              <span class="material-symbols-outlined"> remove </span>
              <span> 7.65%</span>
              <span class="text-stats">than last week</span>
            </div>
          </div>
          <div class="block-stats-comments">
            <div class="section-title">
              <span class="material-symbols-outlined"> comment </span>
              <h2>Comments</h2>
            </div>
            <div class="number">780,564</div>
            <div class="stats-person">
              <span class="material-symbols-outlined"> add_circle </span>
              <span> 12.65%</span>
              <span class="text-stats">than last week</span>
            </div>
          </div>
        </section>
        <div class="stats">
          <div class="stats-header">
            <h2>Account Insight</h2>
            <div class="radio-buttons">
              <div class="radio-button">
                <input type="radio" />
                <span>Followers</span>
              </div>
              <div class="radio-button">
                <input type="radio" />
                <span>Likes</span>
              </div>
              <div class="radio-button">
                <input type="radio" />
                <span>Comments</span>
              </div>
            </div>
            <div class="period">
              <button type="button">Week</button>
            </div>
          </div>
          <div class="graphic">
            <img src="assets/images/photo_2022-06-30_12-55-47.jpg" />
          </div>
        </div>
      </div>
      <div class="account">
        <div class="account-info">
          <div class="account-info-header">
            <h2>Account</h2>
            <span class="material-symbols-outlined"> more_horiz </span>
          </div>
          <img
            class="img-account"
            src="https://st2.depositphotos.com/1531183/5770/v/600/depositphotos_57709697-stock-illustration-male-person-silhouette-profile-picture.jpg"
            alt="image"
          />
          <span class="account-name">Halsey Prima</span>
          <a class="account-link">@Halsey_official</a>
          <div class="account-results">
            <div class="posts-results">
              <span class="value">1314</span>
              <span class="name-results">Posts</span>
            </div>
            <div class="followers-results">
              <span class="value">834K</span>
              <span class="name-results">Followers</span>
            </div>
            <div class="following-results">
              <span class="value">1220</span>
              <span class="name-results">Following</span>
            </div>
          </div>
        </div>
        <div class="sheduled-posts">
          <div class="sheduled-header">
            <h2>Sheduled Posts</h2>
            <span class="material-symbols-outlined"> more_horiz </span>
          </div>
          <div class="post-block">
            <img class="posts-img" src="assets/images/images.jpg" />
            <div class="sheduled-info">
              <span>Adventure in the Roma</span>
              <span>June 30</span>
            </div>
          </div>
          <div class="post-block">
            <img
              class="posts-img"
              src="assets/images/depositphotos_22170659-stock-photo-luxury-tropical-swimming-pool.jpg"
            />
            <div class="sheduled-info">
              <span>Wonderfull Bali</span>
              <span>June 31</span>
            </div>
          </div>
          <div class="post-block">
            <img
              class="posts-img"
              src="assets/images/36f6c0945fcecc56e137b836eb47e8f8.jpg"
            />
          </div>
          <div class="sheduled-info">
            <span>Grand of Sea Land</span>
            <span>June 29</span>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
