<div class="taskii">
  <header class="nav-header">
    <div class="side-bar">
      <img src="assets/images2/photo_2022-07-06_12-51-34.jpg" />
      <button class="side-bar-btn">
        <span class="material-symbols-outlined"> home </span>
        Home
      </button>
      <button class="side-bar-btn">
        <span class="material-symbols-outlined"> check_circle </span>
        My tasks
      </button>
      <button class="side-bar-btn">
        <span class="material-symbols-outlined"> notifications </span>
        Inbox
      </button>
      <span class="reporting">Reporting</span>
      <button class="side-bar-btn">
        <span class="material-symbols-outlined"> bar_chart </span>
        Portfolios
      </button>
      <button class="side-bar-btn">
        <span class="material-symbols-outlined"> my_location </span>
        Goals
      </button>
    </div>
    <div class="side-bar-banner">
      <span class="header-banner">
        Unleash <br />
        the super <br />power</span
      >
      <span class="text-banner"
        >Unlimited task,<br />
        premium features <br />and much more</span
      >
      <button class="side-bar-btn-east">
        <span class="material-symbols-outlined"> east </span>
      </button>
    </div>
  </header>
  <main class="main">
    <div class="header-page">
      <div class="header-title">
        <span class="welcome">Hello John!</span>
        <span class="morning">Good Morning</span>
      </div>
      <span class="material-symbols-outlined"> add </span>
    </div>
    <section class="section">
      <img class="player" src="assets/images2/photo_2022-07-06_15-39-25.jpg" />
      <div class="weather-messages">
        <div class="weather">
          <div class="weather-value">
            <span class="weather-time">9:55 AM</span>
            <span class="weather-description">Now is Cloudy</span>
          </div>
          <img src="assets/images2/photo_2022-07-06_15-45-51.jpg" />
        </div>
        <div class="messages">
          <div class="messages-value">
            <span class="messages-name">Messages</span>
            <span class="messages-quantity">15 unread messages</span>
          </div>
          <img src="assets/images2/photo_2022-07-06_15-45-54.jpg" />
        </div>
      </div>
    </section>
    <section class="to-do-list">
      <div class="dashboard-desing">
        <div class="dashboard-right">
          <img src="assets/images2/photo_2022-07-06_15-57-05.jpg" />
          <span class="dashboard-title">Dashboard design</span>
        </div>
        <span class="dashboard-time">7:00 AM</span>
      </div>
      <div class="dashboard-unity">
        <div class="dashboard-right">
          <img src="assets/images2/photo_2022-07-06_15-57-05.jpg" />
          <span class="dashboard-title">Unity Dashboard</span>
        </div>
        <span class="dashboard-time">8:00 AM</span>
      </div>
      <div class="dashboard-collab">
        <div class="dashboard-header">
          <div class="dashboard-right">
            <img src="assets/images2/photo_2022-07-06_15-57-11.jpg" />
            <span class="dashboard-title">Collab landing page</span>
          </div>
          <span class="dashboard-time">9:00 AM</span>
        </div>
        <ul class="list">
          <li>Landing Page Design</li>
          <li>Services Page Design</li>
          <li>Contact Us Page Design</li>
        </ul>
      </div>
    </section>
  </main>
  <footer class="account">
    <div class="account-header">
      <div class="account-name">
        <span class="name">John Doe</span>
        <span class="profile-edit">Edit Profile</span>
      </div>
      <img
        class="profile-img"
        src="assets/images2/photo_2022-07-06_16-30-59.jpg"
      />
    </div>
    <div class="weekly-planned-header">
      <span class="weekly-planned-title">Weekly Planned</span>
      <span class="view-all">View all</span>
    </div>
    <div class="weekly-block-jasmine">
      <div class="weekly-block-right">
        <img src="assets/images2/photo_2022-07-06_16-41-06.jpg" />
        <span class="weekly-blovk-name-title">Jasmine's bday</span>
      </div>
      <span class="weekly-date">10 Mar 2022</span>
    </div>
    <div class="meeting-with-client">
      <img
        class="meeting-img"
        src="assets/images2/photo_2022-07-06_16-41-24.jpg"
      />
      <div class="meeting-with-client-content">
        <span class="meeting-title">Meeting with client</span>
        <span class="meeting-date">15 Mar 2022 - 9:00 AM</span>
        <div class="meeting">Meeting</div>
        <span class="footer-meeting"
          >Ask for PM to avaible for the the meeting</span
        >
      </div>
    </div>
    <div class="add-new-plan">
      <img src="assets/images2/photo_2022-07-07_13-44-39.jpg" />
      <span class="name">Add new plan</span>
    </div>
    <div class="calendar">
      <div class="calendar-header">
        <span class="calendar-title">June, 2022</span>
        <div class="navigation-calendar">
          <span class="material-symbols-outlined"> arrow_back </span>
          <span class="material-symbols-outlined"> arrow_forward </span>
        </div>
        <span class="two-weeks">Two weeks</span>
      </div>
      <img src="assets/images2/photo_2022-07-07_13-46-55.jpg" />
    </div>
  </footer>
</div>
